
ul {
    padding-bottom: 5%;
    list-style-type: none;
   
}

li {
    font-size: 2rem;
  float: left;
    
}

li a {
    display: block;
    color: 444;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #eece1a;
  }





  